<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h1>Hello  this is your Create Movie page</h1>
    <form action="create/newMovie" method="POST">
      Name: <input type="text" name="moviename"><br><br/>
      Language: <input type="text" name="language"> <br> <br/>
      Genres: <input type="text" name="genres"> <br><br/>

      <input type="submit" value="Create"><br>

    </form>
    <br><br/>
    <a href="/login"> Back</a>
    
  </body>
</html>
