<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Enter User Details </p>
    <form action = "login" method="POST">
      USER NAME: <input type="text" name="username" ><br/><br/>
      PASSWORD: <input type="text" name="password"><br/><br/>
      <input type="submit" value="Submit">

    </form>
  </body>
</html>
